@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html {
  scroll-behavior: smooth;
}

.perspective {
  perspective: 1000px;
}

.card-inner {
  transition: transform 0.7s;
  transform-style: preserve-3d;
  position: relative;
}

.group:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  /* rounded-xl */
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card-front {
  background-color: #1e3a8a;
  /* bg-blue-900 */
}

.card-back {
  background-color: #1f2937;
  /* bg-gray-800 */
  transform: rotateY(180deg);
}


/* hide horizontal scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-up {
  animation: scrollUp 5s linear infinite;
}


@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.2;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateY(-200px) scale(1.2);
    opacity: 0;
  }
}

.animate-bubble {
  animation-name: bubble;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes buttonBubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.2;
  }

  50% {
    opacity: 0.6;
    transform: translateY(-20px) scale(1.2);
  }

  100% {
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}

.animate-buttonBubble {
  animation-name: buttonBubble;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.btn:hover {
  color: #fff;
  font-weight: 700;
  z-index: 1000;
  box-shadow: 4px 4px 4px #0D5EA6;
  border: 2px solid #042543;
}


@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(50%);
  }
}

.scroll-up {
  animation: scroll-up 25s linear infinite;
}

.scroll-down {
  animation: scroll-down 25s linear infinite;
}




.logo-hover {
  transition: transform 0.8s ease;
  /* transform-style: preserve-3d; */
}

.logo-hover:hover {
  transform: rotateY(180deg);
}

@keyframes rotateYOnce {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    /* transform: rotateX(90deg); */
    transform: rotateY(-90deg);
  }
}

.rotate-y-hover:hover {
  animation: rotateYOnce 0.7s ease forwards;
  transform-style: preserve-3d;
}

@keyframes bubble-float-0 {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bubble-float-1 {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }

  100% {
    transform: translateY(-80px) scale(1.3);
    opacity: 0;
  }
}

@keyframes bubble-float-2 {
  0% {
    transform: translateY(0);
    opacity: 0.9;
  }

  100% {
    transform: translateY(-120px);
    opacity: 0;
  }
}



.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 50px;
  transform: translate(5%, 20%);
  transform-origin: bottom right;
  perspective: 600px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 0%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000;
  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.75) translate(25%, 25%);
    right: 100px;
    margin-right: 10px;
  }

  .swap {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.55) translate(25%, 25%);
  }
}



/* tech stack */
.tech-stack-gradient-left-box {
  background: rgb(11, 6, 32);
  background: linear-gradient(90deg,
      rgba(1, 1, 2, 1) 0%,
      rgba(1, 3, 2, 0.6601234243697479) 53%,
      rgba(16, 11, 51, 0) 100%);
}

.tech-stack-gradient-right-box {
  background: rgb(11, 6, 32);
  background: linear-gradient(-90deg,
      rgba(1, 1, 2, 1) 0%,
      rgba(1, 3, 2, 0.6601234243697479) 53%,
      rgba(16, 11, 51, 0) 100%);
}

/* marquee */
.marquee {
  width: 100dvw;
  overflow: hidden;
  position: relative;
}

.marquee-box {
  display: flex;
  align-items: center;
  width: 200%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  animation: marquee 60s linear infinite;
}

.marquee-item {
  float: left;
}

.marquee-item:after {
  content: "";
  position: absolute;
  top: 100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  background: linear-gradient(to bottom,
      rgba(229, 172, 142, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(229, 172, 142, 0));
}

/*This activates the shine once the button has been hovered*/
.marquee-item:hover::after,
button:focus::after {
  animation: shine 1s forwards;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

/* Make dots white */
.slick-dots li button:before {
  color: white !important;
  opacity: 0.5;
}

/* Highlight active dot */
.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
}